body {
  background: radial-gradient(circle, #120022, #000);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  color: white;
}

.card {
  background: #0b0015;
  width: 360px;
  padding: 25px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 0 35px #7a00ff;
}

h1 {
  color: #c77dff;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(45deg, #7a00ff, #ff005d);
  color: white;
  font-size: 15px;
  cursor: pointer;
  animation: glow 1.5s infinite;
}

@keyframes glow {
  0% { box-shadow: 0 0 10px #7a00ff }
  50% { box-shadow: 0 0 25px #ff005d }
  100% { box-shadow: 0 0 10px #7a00ff }
}

#qrBox img {
  width: 220px;
  margin-top: 15px;
}

#pairBox {
  margin-top: 10px;
  color: #00ffcc;
  font-size: 18px;
}

input, textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

textarea {
  background: #000;
  color: #0f0;
  height: 90px;
  resize: none;
}
